* {
    margin: 0;
    padding: 0;
}
body{
    margin-top: 5%;
    font: 80px Arial,Helvetica,sans-serif;
    font-size: 3px;
    background-image: linear-gradient(to right, #060f4dbb, #7a7a7abd,#060f4dbb);
}
h1 {
    font-size: 90px;
    font-family: 'Tourney', cursive;
    color: rgb(0, 0, 0);
    
}
table {
    width:490px;
    height:auto;
    padding:10px 0;
    margin: auto;
    border:#000 6px solid;
    border-radius:7px;
    -webkit-border-radius:7px;
     -moz-border-radius:12px;
     box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     -webkit-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     -moz-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
     background-image:-moz-linear-gradient(top, #333333, #1f1f1f);
    background-image:-webkit-linear-gradient(top, #181414, #131212);
    background-image:linear-gradient(top, #333333, #1f1f1f);
     overflow: hidden;
     text-align: center;
}
.boton1{
    font-size: 50px;
    margin: center;
    margin-left: 10px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 5px solid #2c2929;
    border: 6px outset;
}
input {
    margin-top: 5%;
    width: 400px;
    height: 80px;
    border: 20px solid #020000;
    border-radius: 15px;
    font-size: 50px;
}
button {
    padding: 9px;
}
.boton2{
    font-size: 50px;
    margin: center;
    margin-left: 10px;
    background-color: rgb(109, 3, 3);
    color: aliceblue;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 5px solid #2c2929;
    border: 6px outset;
}